.card-container {
  font-size: 12px;

  .card-progress {
    background: #2196f3;
    background: linear-gradient(90deg, #2196f3 35%, #137cd1 100%);
    padding: 0 10px;
    margin-bottom: 3px;
    border-radius: 7px;
    color: #fff;
    line-height: 26px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px #a7a7a7;
    border: 1px solid #cfe9ff;
    cursor: pointer;
  }

  .card-duedate {
    float: left;
    margin-left: 5px;
    font-size: 9px;
  }

  .card-labels {
    margin-bottom: 10px;
    .label-item {
      margin-right: 5px;
      font-size: 9px;
    }
  }
}
