.modal-body {
  font-size: 13px;
  .label {
    font-weight: bold;
  }

  .labels {
    margin-bottom: 15px;
    .label-item {
      background-color: #efefef;
      padding: 5px 8px;
      margin-right: 10px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
