.row-container {
  background-color: #f3f3f3;
  border-bottom: 2px solid #fff;

  .row-header {
    width: 150px;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #2196f3;
    float: left;
  }
  .row-cards {
    padding: 10px 10px 0 10px;
    margin-left: 150px;
    border-left: 2px solid #fff;
  }
}
